\#*
**/*.db
*~
.#*
.DS_Store
.dotest
.idea
.loadpath
.project
*.swp
spec/dummy
config/*-public.asc
config/database.yml
config/mongrel_cluster.yml
db/*.sql
db/*.sqlite3*
db/schema.rb
doc/**/*
log/*.log
public/assets
public/images
public/javascripts
public/stylesheets
tmp
vendor/rails
vendor/extensions/google_base
public/google_base.xml
public/template_google_base.xml
coverage/*
.bundle
Gemfile.lock
