<div class="four columns">
  <%= f.field_container :default_currency do %>
    <%= f.label :default_currency, Spree.t(:default_currency) %>
    <%= f.text_field :default_currency %>
  <% end %>
</div>
