<div class="stores">
  <%= hidden_field_tag 'update_store_ids', true %>
  <%= f.label :stores, I18n.t('spree.stores')%><br />
  <% Spree::Store.all.each do |store| %>
    <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store), id: "product_store_id_#{store.id}" %>
    <%= label_tag "product_store_id_#{store.id}", store.name %>
  <% end %>
</div>
