<p>
  <%= hidden_field_tag 'update_store_ids', true %>
  <%= f.label :stores, Spree.t(:stores)%><br />
  <% Spree::Store.all.each do |store| %>
    <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store) %> <%= store.name %>
  <% end %>
</p>
