<p>
  <%= f.label :stores, t("stores")%><br />
  <% Store.all.each do |store| %>
    <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store) %> <%= store.name %>
  <% end %>
</p>